# previously here:
*.pdf

# CMake output directories:
Binaries/*

# downloaded SuperLU sources
superlu*

# downloaded f2c sources
f2c

# IDE stuff
.vscode

# what follows is github's recommendation for CMake projects
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
